<script type="text/javascript">
<!--
// hide script
var vdot = "saihzgfvaszugv"
var vu = "ovi";
var ve = "ulf";
var vh = "mai";
var vb = "tchsaihzgfvaszugvn";
var v6 = decodeString(vb);
var vq = "et";
var v2 = "l&#x40;w"
var v3 = "%6d%61%69%6C"
var v9 = "%74%6F%3A"
var v0 = vh + v2 + ve + vu + v6 + vq;
var va = decodeURIComponent(v3 + v9) + v0
document.write(v0.link(va));
// -->
function decodeString(myEncStr) {
	var tmp;
	tmp = myEncStr.replace( eval("/" + vdot + "/g"), ".");
	return(tmp);
}
</script>